@model IEnumerable<FirstMVCApp.ViewModel.UserViewModel>


@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>

</head>
<body>

<h2>List of Users</h2>

    <table style="width: 75%" >
  <tr>
    <th>FirstName</th>
     <th>LastName</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Gender</th>
  </tr>
         @foreach(var i in Model)
         {
            <tr>
                <td>@Html.DisplayFor(m => i.FirstName)</td>
                <td>@Html.DisplayFor(m => i.LastName)</td>
                <td>@Html.DisplayFor(m => i.EmailID)</td>
                <td>@Html.DisplayFor(m => i.PhoneNumber)</td>               
                @if (i.Gender == 'm')
                {
                    <td>Male</td>
                }
                else
                {
                    <td>Female</td>
                }
                <td>                    
                    <a onclick="location.href='@Url.Action("EditUser", "Test")?id=@i.UserViewModelID'" asp-action="EditUser" asp-controller="Test">
                        Edit</a>
                     <a onclick="location.href='@Url.Action("DeleteUser", "Test")?id=@i.UserViewModelID'" asp-action="DeleteUser" asp-controller="Test">
                            Delete</a>
                </td> 

        </tr>
        }     

</table>
    <button type="button" id="loadData"  onclick="location.href='@Url.Action("Index", "Test")'">
        Back
    </button>
</body>
</html>



